
<p>Click the button to display the nodes.</p>

<button id="hide" hidden="hidden">Hide</button>
<button id="show">Show</button>

<div id="table-location">
<div id="dynamictable"></div>
</div>
<br/>

<p>Click the button to display real time values.</p>

<button id="realtime">Real time</button>
<select id="nodeSel" hidden="hidden">
   <option value="1">1</option> 
   <option value="11">11</option> 
   <option value="111">111</option>
   <option value="112">112</option>
   <option value="113">113</option>
   <option value="12">12</option> 
   <option value="121">121</option>
   <option value="122">122</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
   <option value="6">6</option>
</select>

<select id="paramSel" hidden="hidden">
   <option value="cpu_usage">Uso de CPU</option> 
   <option value="mem">Disco</option> 
   <option value="swap">swap</option>
   <option value=loadavg>Load average</option> 
   <option value="freeRAM">RAM</option>
   <option value="temp">Temperatura</option>
   <option value="hum">Humedad</option>
</select>

<button id="hide_rt" hidden="hidden">Hide</button>
<button id="accept" hidden="hidden">Accept</button>
<br/>

<p>Click the button to specific query.</p>

<button id="specific">Specific Query</button>

<div id="filter" hidden="hidden">

<p>Select node</p><br/>

<select id="nodeSel_q">
   <option value="1">1</option> 
   <option value="11">11</option> 
   <option value="111">111</option>
   <option value="112">112</option>
   <option value="113">113</option>
   <option value="12">12</option> 
   <option value="121">121</option>
   <option value="122">122</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
   <option value="6">6</option>
</select>

<br/>

<p>Select parameter</p><br/>

<select id="paramSel_q">
   <option value="cpu_usage">Uso de CPU</option> 
   <option value="mem">Disco</option> 
   <option value="swap">swap</option>
   <option value=loadavg>Load average</option> 
   <option value="freeRAM">RAM</option>
   <option value="temp">Temperatura</option>
   <option value="hum">Humedad</option>
</select>

<br/>

	<p>Select start time</p><br/>
	
	<input type="datetime-local" id="start"><br/>
	
	<p>Select end time</p><br/>
	
	<input type="datetime-local" id="end"><br/>
	
</div>

	<button id="accept_q" hidden="hidden">Accept</button>
	<button id="hide_sq" hidden="hidden">Hide</button>
	
<p>Click the button to change the leds.</p>

<button id="leds">Change leds</button>	
	
<div id="div_led" hidden="hidden">

<p>Select node</p><br/>

<select id="node_led">
   <option value="1">1</option> 
   <option value="11">11</option> 
   <option value="111">111</option>
   <option value="112">112</option>
   <option value="113">113</option>
   <option value="12">12</option> 
   <option value="121">121</option>
   <option value="122">122</option>
   <option value="2">2</option>
   <option value="3">3</option>
   <option value="4">4</option>
   <option value="5">5</option>
   <option value="6">6</option>
</select>

<br/>

<p>Select led</p><br/>

<select id="led">
   <option value="led_azul">Led azul</option> 
   <option value="led_rojo">Led rojo</option> 
</select>

<br/>

<p>Select action</p><br/>

<select id="action_led">
   <option value="on">On</option> 
   <option value="off">Off</option>
</select>
</div>
	
	<button id="accept_led" hidden="hidden">Accept</button>
	<button id="hide_led" hidden="hidden">Hide</button>	
	
<!-- Location where the chart will be added -->
<div id="chart-location">
</div>